
#xemto{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}
.my-modal-dialog {
    height:50%;
    margin: auto 0;
    padding: 0;
  }
  
  .my-modal-content {
    height: auto;
    height: 100%;
    border-radius: 0;
  }
  .test{
    color: green;
  }